<br>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="container">
            <div class="card bg-info text-white">
                <div class="card-body">

                    <form #flightForm="ngForm" (ngSubmit)='onUpdateflight(flightForm.value);flightForm.reset()'>

                        <div class="form-group">

                            <label>FLIGHT NUMBER: </label>

                            <input required minlength="5" type="number" #flightnumber='ngModel' name="flightNumber"
                                [(ngModel)]="obj.flightNumber" readonly ngModel class="form-control">



                        </div>



                        <div class="form-group">

                            <label>FLIGHT MODEL: </label>

                            <input required type="text" #flightmodel='ngModel' id="flightModel" name="flightMdel"
                                [(ngModel)]="obj.flightMdel" ngModel class="form-control" pattern="[A-Za-z0-9\s\-]{3,}"
                                [class.is-invalid]="flightmodel.invalid && flightmodel.touched">

                            <div *ngIf="flightmodel.errors && (flightmodel.invalid&& flightmodel.touched)">
                                <small class=" text-danger" *ngIf="flightmodel.errors.required">Flight Model is
                                    Required</small>
                                <small class=" text-danger" *ngIf="flightmodel.errors.pattern">Flight model should be
                                    alpha-numeric
                                    with atleast 3 charecters</small>

                            </div>

                        </div>

                        <div class="form-group">

                            <label>CARRIER NAME: </label>

                            <input required minlength="6" type="text" id="carrierName" name="carrierName" [(ngModel)]="obj.carrierName"
                                ngModel class="form-control" pattern="[A-Za-z\s]{5,}" #carriername="ngModel"
                                [class.is-invalid]="carriername.invalid && carriername.touched">

                            <div *ngIf="carriername.errors && (carriername.invalid&& carriername.touched)">
                                <small class=" text-danger" *ngIf="carriername.errors.required">Carrier Name is
                                    Required</small>
                                <small class=" text-danger" *ngIf="carriername.errors.pattern">Carrier should be
                                    alphabets with atleast
                                    5 charecters</small>

                            </div>

                        </div>

                        <div class="form-group">

                            <label>SEAT CAPACITY: </label>

                            <input required type="number" id="seatCapacity" #seatcapacity='ngModel' name="seatCapacity"
                                [(ngModel)]="obj.seatCapacity" ngModel class="form-control"
                                pattern="^$|^([1-9]|[1-9][0-9]|[1-2][0-9][0-9]|300)?"
                                [class.is-invalid]="seatcapacity.invalid && seatcapacity.touched">

                            <div *ngIf="seatcapacity.errors && (seatcapacity.invalid && seatcapacity.touched)">
                                <small class=" text-danger" *ngIf="seatcapacity.errors.required">Seat Capacity is
                                    Required</small>
                                <small class=" text-danger" *ngIf="seatcapacity.errors.pattern">Seat Capacity should be
                                    from 1 to
                                    300</small>

                            </div>
                        </div>


                        <div>
                            <input [disabled]="flightForm.invalid" type="submit" value="Update Flight"
                                class="btn btn-primary">
                        </div>
                        <h3>{{message}}</h3>
                    </form>
                </div>
            </div>
        </div>
        <br>
  <div align="right">
    <input type="submit" routerLink='/allflights' value="All Flights" class="btn btn-primary">


  </div>
</div>
</div>
<router-outlet></router-outlet>
    
