<br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">


    <div class="container" class="text-center">

      <h2 class="bg-dark text-white">Welcome Admin!!!</h2><br><br>

      <button class="btn btn-primary" id="flightadd" routerLink='/addflight'>Add A Flight</button>
      <br> <br>
      <button class="btn btn-primary" routerLink='/searchflight' type="submit">Search Flight</button>
      <br> <br>
      <button class="btn btn-primary" routerLink='/allflights' type="submit">View All Flights</button>
      <br> <br>
     
    </div>
  </div>

  <router-outlet></router-outlet>